.favorisContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50vh;
}

.favoris {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.supFav {
  background-color: #e5e5e5;
}
