@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

.messagepromo {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

.messagepromo1 {
  display: block;
  font-size: small;
  padding: 5px;
}

.menu {
  display: flex;
  background-color: #e5e5e5;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}
.menu-search {
  display: flex;
  background-color: #e5e5e5;
  align-items: center;
  justify-content: center;

  padding-bottom: 2rem;
  padding-left: 2rem;
}

.searchBar {
  background-color: white;
  color: white;
  width: 30rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchArea {
  width: 100%;
  color: black;
  outline: none;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: "Tenor Sans", sans-serif;
  outline: 0;
  margin-left: 5px;
}
.logo1:hover {
  color: black;
}

.ulMenu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.liMenu {
  padding: 0.5rem;
}

.menuResponsive,
.ulMenuResponsive,
.searchBarResponsive .searchAreaRersponsive {
  display: none;
}

@media screen and (max-width: 1024px) {
  .menu {
    justify-content: space-around;
  }
  .ulMenu {
    display: none;
  }
  .menuResponsive {
    display: contents;
  }
  .ulMenuResponsive {
    display: flex;
    background-color: #e5e5e5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 20px;
  }

  .searchBarResponsive {
    background-color: white;
    color: white;
    width: 80%;
    padding: 0.5rem;
    border-radius: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid black 1px;
    margin-bottom: 10px;
  }

  .searchAreaRersponsive {
    color: black;
    outline: none;
  }
}
