.mainpanier {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52vh;
}
.titleCart {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 20px;
}

.paniercomplete {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableCart {
  flex: 2;
  margin-right: 10rem;
}
.divImagePanier {
  display: flex;
  width: 20rem;
  justify-content: space-between;
  align-items: center;
}

.imagepanier {
  width: 50%;
}

.basketAddRem {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.addBasket {
  background-color: #e5e5e5;
  width: 4rem;
  height: 4rem;
  font-size: 20px;
}

.addBasket:hover {
  border: solid black 1px;
}

.qtyBasket {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.itemPanier {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.totalpanier {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: white;
  padding: 15px;
  border: solid 1px black;
}
.totalItemPanier {
  margin: 20px;
}
.commanderdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}
.commander {
  background-color: black;
  color: white;
  width: 12rem;
  height: 70px;
  padding: 10px;
}
.continueShopping {
  border: solid black 1px;
  width: 12rem;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .mainpanier {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .totalpanier {
    width: 100%;

    border: solid 1px #e5e5e5;
  }
  .tableCart {
    width: 100%;
    margin: 0;
  }
  .paniercomplete {
    flex-direction: column;
    width: 100%;
  }
  .divImagePanier {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
  }
  .imagepanier {
    width: 90%;
  }
  .commanderdiv {
    flex-direction: column-reverse;
  }
  .titleCart {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .addBasket {
    background-color: #e5e5e5;
    width: 50%;
    height: 50%;
    font-size: 20px;
  }
  .tdGlobal {
    padding: 0;
  }
  .basketAddRem {
    flex-direction: column-reverse;
    gap: 0;
  }
  .qtyBasket {
    width: 50%;
    height: 100%;
    padding: 10px;
    border: solid 1px #e5e5e5;
  }
}
