
.productCardInfos{
  display: flex;
  justify-content: space-between;
}

.add{
  width: 100%;
  background-color: #E5E5E5;
}

.add:hover{
  background-color: black;
  color: white;
}
.productCardDetails{
  width: 100%;
}
.notFavorite{
  color:  #ad9b9b;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 5px;
}

.notFavorite:hover{
  color:  red;
}
.isFavorite{
  color: red;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 5px;
}