.mainProducts {
  display: flex;

  margin-top: 4rem;
}

.filter {
  display: flex;
  flex-direction: column;
  border-right: grey solid 1px;
  padding-right: 8rem;
}

.productListMain {
  width: 100%;
}

.productsList {
  margin-left: 6rem;
}

.filtercategorie {
  height: 30vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-left: 2rem;
}
